*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--globalFontSize);
    font-family: 'Raleway', sans-serif;
}

:root{

    --globalFontSize: 14px;

    --Mobile: 375px;
    --Desktop: 1440px;

    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);
    --VeryDarkBlueOpacity: hsla(229, 57%, 11%, 53%);

    --optionsWidth: 300px;
    --optionsHeight: 180px;
    --optionsPadding: 35px;

    --iconWidth: 40px;
    --iconHeight: 40px;
    
    --iconPadding: 10px;
    
    --iconBorderRadius: 10px;

    --progressBarSize: 0%;

    --progressBarHeight: 20px;

}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-image: url("../images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.options-container{
    width: var(--optionsWidth);
    height: var(--optionsHeight);
    background-color: var(--DarkBlue);
    padding: var(--optionsPadding);
    display: flex;
    flex-direction: column;
    border-radius: 10px 80px 10px 10px;
}

.icons-container{
    width: 80%;
    display: flex;
    margin-top: 2em;

}

.icon-conf{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.icon-conf:hover{
    cursor: pointer;
}

.icon-content:first-child{
    margin-left: 0;
}

.icon-content{
    background-color: var(--VeryDarkBlue);
    width: var(--iconWidth);
    height: var(--iconHeight);
    padding: var(--iconPadding);
    border-radius: var(--iconBorderRadius);
    display: flex;
    justify-content: center;
    margin-left: 1em;
}

.storage-used-container{
    margin-top: 1em;
    width: var(--optionsWidth);
    height: 150px;
    padding: var(--optionsPadding);
    background-color: var(--DarkBlue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

.storage-used-text{
    text-align: center;
    color: var(--PaleBlue);
}

.storage-used-text > span{
    font-weight: 700;

}

.progress-bar-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    position: relative;
}

.progress-bar{
    width: 250px;
    height: var(--progressBarHeight);
    background-color: var(--VeryDarkBlueOpacity);
    position: relative;
    left: -10px;
    border-radius: 10px;
}


.progress-bar::before{
    content: "";
    height: calc(var(--progressBarHeight) - 5px);
    width: var(--progressBarSize);
    background: linear-gradient(to right, hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 10px;
    max-width: 100%;
    transition: width 2s ease;
}
 /* 
.progress-bar::after{
    content: "";
    height: 11px;
    width: 11px;
    border-radius: 100%;
    background-color: var(--PaleBlue);
    position: absolute;
    top: 4px;
    left: calc(var(--progressBarSize) - 10px);

} */



.progress-bar-information{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.storage-used{
    color: var(--PaleBlue);
    font-weight: 700;
    font-size: 0.8em;
    position: relative;
}

.storage-used:first-child{
    left: -8px;
}

.storage-used:last-child{
    left: 8px;
}

.storage-detail-container{
    width: 200px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.storage-detail{
    color: var(--VeryDarkBlue);
    font-size: 3em;
    font-weight: 700;
}

.storage-detail > span{
    font-size: 0.3em;
    color: var(--GrayishBlue);
    text-transform: uppercase;
    position: relative;
    top: -5px;
}


@media screen and (min-width: 1440px){
   
    


   body{
       background-color: var(--VeryDarkBlue);
   } 

   main{
       background-image: url("../images/bg-desktop.png");
       background-size: contain;
       background-position: 0 80%;
       flex-direction: row;
       column-gap: 30px;
   }

   .storage-used-container{
       width: calc(var(--optionsWidth) * 1.8);
       height: 15%;
       position: relative;
       margin-top: 0;
       top: 20px;
   }

   .storage-used-text{
       text-align: left;
   }

   .progress-bar{
       width: 100%;
       position: relative;
       left: -5px;
   }

   
   .progress-bar:hover{
       cursor: pointer;
   }

   .progress-bar-information{
       justify-content: flex-start;
       column-gap: 81%;
   }

   .storage-used:first-child{
       margin-left: 5px;
   }

   .storage-detail-container{
    transform: translateX(36px) translateY(-185px);
     border-bottom-right-radius: 0;      
     opacity: 0;
     transition: all 0.5s ease;
   }

   .storage-detail-container.active{
      opacity: 1; 
   }

   .storage-detail-container:after{
       content: "";
       position: absolute;
       background-color: white;
       width: 20px;
       height: 20px;
       clip-path: polygon(100% 100%, 0 0, 100% 0);
       transform: translateX(85px) translateY(49px);
   }

}
